##images
*.pdf
*.png
##output
*.root
*.txt
##folders
plot/
qcd*/
wspread/
backup/
27*/
0*/
1110plot/
final_plots/
##executable
*.exe
*~
DelphesTreeReader
DelphesTreeReader1905
DelphesTreeReader2505
DelphesTreeReader_mygammjet
